openapi: 3.0.1
info:
  title: Customer Onboarding API
  description: Enterprise API for customer registration and management.
  version: 1.0.0
servers:
  - url: https://api.integration.enterprise.com/v1
paths:
  /customers:
    post:
      summary: Register a new customer
      description: Orchestrates customer onboarding across CRM and central database.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRegistrationRequest'
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
        '400':
          description: Validation Error
        '500':
          description: Internal Server Error
components:
  schemas:
    CustomerRegistrationRequest:
      type: object
      required:
        - firstName
        - lastName
        - email
        - dateOfBirth
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        dateOfBirth:
          type: string
          format: date
        country:
          type: string
          maxLength: 2
    CustomerResponse:
      type: object
      properties:
        customerId:
          type: string
          format: uuid
        status:
          type: string
